<div class="plants-container">
  <p class="plant-title">PlantExplorer</p>
  <p class="intro-text">Esplora e conosci le caratteristiche di queste piante e divertiti a selezionare i filtri per scoprire le piante che si addicono ai tuoi gusti.</p>

  <%= form_with url: infoplants_path, method: :get, local: true, class: "search-form" do |form| %>
    <div class="search-bar-container">
      <%= text_field_tag :query, params[:query], placeholder: 'Cerca...', class: "search-bar" %>
      <%= form.submit "Cerca", class: "search-button" %>
    </div>
  <% end %>

  <%= form_with url: infoplants_path, method: :get, local: true, class: "filters-form", id: "filters-form" do |form| %>
    <div class="filters-container">
      <div class="filter">
        <%= label_tag :typology, 'Tipologia' %>
        <%= select_tag :typology, options_for_select([['', '', { style: 'color: lightgray;' }]] + Plant.pluck(:typology).uniq, params[:typology]), include_blank: false %>
      </div>
      <div class="filter">
        <%= label_tag :climate, 'Clima' %>
        <%= select_tag :climate, options_for_select([['', '', { style: 'color: lightgray;' }]] + Plant.pluck(:climate).uniq, params[:climate]), include_blank: false %>
      </div>
        <div class="filter">
        <%= label_tag :use, 'Uso' %>
        <%= select_tag :use, options_for_select([['', '', { style: 'color: lightgray;' }]] + Plant.pluck(:use).uniq, params[:use]), include_blank: false %>
      </div>
      <div class="filter">
        <%= label_tag :light, "Luce" %>
        <%= select_tag :light, options_for_select([['', '', { style: 'color: lightgray;' }], ['Ombra completa', 1], ['Ombra Parziale', 2], ['Luce Indiretta', 3], ['Sole Diretto', 4]], params[:light]), include_blank: false %>
      </div>
      <div class="filter">
        <%= label_tag :size, "Dimensione" %>
        <%= select_tag :size, options_for_select([['', '', { style: 'color: lightgray;' }], ['Piccola', 1], ['Media', 2], ['Grande', 3]], params[:size]), include_blank: false %>
      </div>
      <div class="filter">
        <%= label_tag :irrigation, "Irrigazione" %>
        <%= select_tag :irrigation, options_for_select([['', '', { style: 'color: lightgray;' }], ['Raramente', 1], ['Ogni Tanto', 2], ['Frequentemente', 3]], params[:irrigation]), include_blank: false %>
      </div>
      <div class="apply-filters">
        <%= form.submit "Applica", class: "apply-button" %>
      </div>
      <div class="clear-filters">
        <%= button_tag "Cancella", type: 'button', class: "clear-button", onclick: "clearFilters()" %>
      </div>
    </div>
  <%end%>
</div>

<div class="plants-grid">
  <% if @plants.any? %>
    <% @plants.each do |plant| %>
      <div class="plant-box">
        <div class="plant-image">
          <%= image_tag "#{plant.name}.jpg", alt: plant.name %>
        </div>
        
        <div class="plant-info">
          <p class="nome"><strong><%= plant.name %></strong></p>
          <p><strong>Tipologia:</strong> <%= plant.typology %></p>
          <p><strong>Luce:</strong> <%= ['ombra completa', 'ombra parziale', 'luce indiretta', 'sole diretto'][plant.light - 1] %></p>
          <p><strong>Irrigazione:</strong> <%= ['raramente', 'ogni tanto', 'frequentemente'][plant.irrigation - 1] %></p>
          <p><strong>Dimensione:</strong> <%= ['piccola', 'media', 'grande'][plant.size - 1] %></p>
          <p><strong>Clima:</strong> <%= plant.climate %></p>
          <p><strong>Uso:</strong> <%= plant.use %></p>
          <p><strong>Descrizione:</strong> <%= plant.description %></p>          
        </div>

        <% if current_user %>
          <% if @user_plants.exclude?(plant.id) %>
            <% if @nursery_plants && @nursery_plants.include?(plant.id) %>
              <p class="added-message">Questa pianta è già nel tuo vivaio.</p>
            <% else %>
              <div class="btn-addmyplant" data-plant-id="<%= plant.id %>">
                <% if @nrs_users.include?(current_user) %>
                  <p>Aggiungi al mio vivaio</p>
                <% else %>
                  <p>Aggiungi Alla Mia Collezione</p>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <p class="added-message">
              <% if @nrs_users.include?(current_user) %>
                Questa pianta è già nel tuo vivaio.
              <% else %>
                Questa pianta è già nelle tue piante.
              <% end %>
            </p>
          <% end %>
        <% end %>

      </div>
    <% end %>
  <% else %>
    <p class="no-results">Non ci sono piante con questi filtri</p>
  <% end %>
</div>



<% if params[:query].present? || params[:typology].present? || params[:climate].present? || params[:use].present? || params[:light].present? || params[:size].present? || params[:irrigation].present? %>
  <div class="back-button-container">
    <%= link_to 'Torna indietro', infoplants_path, class: 'back-button' %>
  </div>
<% end %>

<script>
  function clearFilters() {
    const form = document.getElementById("filters-form");
    const selects = form.querySelectorAll("select");
    
    selects.forEach(select => {
      select.selectedIndex = 0; // Reset each select to its default option
    });
  }


  document.addEventListener("DOMContentLoaded", function() {
    const reserveButtons = document.querySelectorAll(".btn-addmyplant");

    reserveButtons.forEach(button => {
      button.addEventListener("click", function() {
        const myplantId = button.getAttribute('data-plant-id');
        //const myplantId = this.dataset.myplant-id;
        console.log(myplantId)
        this.style.pointerEvents = "none"; // Disabilita il bottone per evitare clic ripetuti

        fetch('/addmyplant', { // Assicurati che l'endpoint sia corretto
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
          },
          body: JSON.stringify({ plant_id: myplantId })
        })
        .then(response => {
          if (!response.ok) {
            return response.text().then(text => {
              throw new Error(text);
            });
          }
          return response.json();
        })
        .then(data => {
          if (data.success) {
            const plantBox = this.closest(".plant-box");
            // Cambia il testo del pulsante
            this.style.display = 'none';

            // Mostra il messaggio "Questa pianta è già nel tuo vivaio."
            const message = document.createElement("p");
            message.className = "added-message";
            message.textContent = "Questa pianta è già nel tuo vivaio.";
            plantBox.appendChild(message);
          } else {
            alert(data.message || "Errore nella aggiunta. Riprova.");
          }
        })
        .catch(error => {
          console.error('Errore:', error);
          alert('Errore: ' + error.message);
        });
      });
    });
  });






    
</script>
