<!--div class="plant-details-container">
  <div class="plant-details-box">
    <p class="plant-name"><%= @plant.name %></p>
    <div class="plant-image">
      <%= image_tag "#{@plant.name}.jpg", alt: @plant.name %>
    </div>
    <div class="plant-info">
      <p><strong>Tipologia:</strong> <%= @plant.typology %></p>
      <p><strong>Luce:</strong> <%= @plant.light %></p>
      <p><strong>Irrigazione:</strong> <%= @plant.irrigation %></p>
      <p><strong>Dimensione:</strong> <%= @plant.size %></p>
      <p><strong>Clima:</strong> <%= @plant.climate %></p>
      <p><strong>Uso:</strong> <%= @plant.use %></p>
      <p><strong>Descrizione:</strong> <%= @plant.description %></p>
    </div>
    <%= link_to 'Torna alla lista delle piante', infoplants_path, class: "back-to-all" %>
  </div>
</div-->
