<br><br><br><br>
<h1><%= @infoplant.name %></h1>
<p><strong>Typology:</strong> <%= @infoplant.typology %></p>
<p><strong>Light:</strong> <%= @infoplant.light %></p>
<p><strong>Irrigation:</strong> <%= @infoplant.irrigation %></p>
<p><strong>Size:</strong> <%= @infoplant.size %></p>
<p><strong>Climate:</strong> <%= @infoplant.climate %></p>
<p><strong>Use:</strong> <%= @infoplant.use %></p>
<p><strong>Description:</strong> <%= @infoplant.description %></p>


<%= link_to 'Torna alla lista delle piante', infoplants_path %>