<br><br><br><br>
<h1><%= @plant.name %></h1>
<p><strong>Typology:</strong> <%= @plant.typology %></p>
<p><strong>Light:</strong> <%= @plant.light %></p>
<p><strong>Irrigation:</strong> <%= @plant.irrigation %></p>
<p><strong>Size:</strong> <%= @plant.size %></p>
<p><strong>Climate:</strong> <%= @plant.climate %></p>
<p><strong>Use:</strong> <%= @plant.use %></p>
<p><strong>Description:</strong> <%= @plant.description %></p>


<%= link_to 'Torna alla lista delle piante', infoplants_path %>