<!DOCTYPE html>
<html>
<head>
  <title>Reimposta la password</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <div class="login-background">
    <div class="login-formcontainer">
      <div class="login-message" style="font-size: 25px; color: #006400; text-align: center;">
        Set a new password
      </div>

      <%= form_with url: reset_password_path, method: :post do %>
        <div class="login-input-group <%= 'has-error' if flash.now[:alert].present? && (flash.now[:alert].include?("password") || flash.now[:alert].include?("token")) %>">
          <%= password_field_tag :new_password, nil, placeholder: 'Set the new password', required: true %>
          <% if flash.now[:alert].present? && flash.now[:alert].include?("password") %>
            <div class="login-error-message">
              <%= flash.now[:alert] %>
            </div>
          <% end %>
        </div>
        <div class="login-input-group <%= 'has-error' if flash.now[:alert].present? && flash.now[:alert].include?("password") %>">
          <%= password_field_tag :confirm_password, nil, placeholder: 'Confirm the new password', required: true %>
          <% if flash.now[:alert].present? && flash.now[:alert].include?("password") %>
            <div class="login-error-message">
              <%= flash.now[:alert] %>
            </div>
          <% end %>
        </div>
        <div class="login-input-group <%= 'has-error' if flash.now[:alert].present? && flash.now[:alert].include?("token") %>">
          <%= text_field_tag :reset_token, params[:token] || '', placeholder: 'Insert the token sent to your email', required: true %>
          <% if flash.now[:alert].present? && flash.now[:alert].include?("token") %>
            <div class="login-error-message">
              <%= flash.now[:alert] %>
            </div>
          <% end %>
        </div>
        <div class="login-button-container">
          <%= submit_tag "Reset", class: "login-button" %>
        </div>
      <% end %>

      <div class="login-button-container">
        <%= link_to "Ask for a new token", resend_reset_password_token_path, method: :post, class: "login-link" %>
      </div>

      <p style="text-align: center; font-size: 1.2em; color: #006400; margin-top: 15px;">
        The token will expire in: <span id="otp-timer">3:00</span>
      </p>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var timerElement = document.getElementById('otp-timer');
      var timeLeft = 180; // 3 minuti in secondi

      var timerInterval = setInterval(function() {
        var minutes = Math.floor(timeLeft / 60);
        var seconds = timeLeft % 60;

        seconds = seconds < 10 ? '0' + seconds : seconds;
        timerElement.textContent = minutes + ':' + seconds;

        if (timeLeft <= 0) {
          clearInterval(timerInterval);
          timerElement.textContent = '00:00';
        }

        timeLeft--;
      }, 1000);
    });
  </script>
</body>
</html>