<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <div class="login-background">
    <div class="login-formcontainer">
      <div class="login-logo">
        <%= link_to root_path do %>
          <img src="<%= asset_path 'logo.jpeg' %>" alt="Logo">
        <% end %>
      </div>
      <%= form_with url: login_path, local: true do |form| %>
        <div class="login-input-group <%= 'has-error' if flash[:email_error] %>">
          <%= form.email_field :email, value: params[:email], placeholder: 'Email', required: true %>
            <% if flash[:email_error] %>
              <span class="login-error-message"><%= flash[:email_error] %></span>
            <% end %>
        </div>
        <div class="login-input-group <%= 'has-error' if flash[:password_error] %>">
          <%= form.password_field :password, placeholder: 'Password', required: true %>
            <% if flash[:password_error] %>
              <span class="login-error-message"><%= flash[:password_error] %></span>
            <% end %>
        </div>
        <div class="login-button-container">
          <button type="submit" class="login-button">Login</button>
        </div>
        <div>
          <a href="/register" class="login-link">Clicca qui per registrarti</a>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>
