<!DOCTYPE html>
<html>
<head>
  <title>Richiedi Token di Reset</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="login-background">
    <div class="login-formcontainer">
      <div class="login-message" style="font-size: 25px; color: #006400; text-align: center;">
        Ask for a reset token
      </div>
      
      <%= form_with url: send_reset_password_token_path, method: :post do %>
        <div class="login-input-group <%= 'has-error' if flash[:alert].present? %>">
          <%= email_field_tag :email, nil, placeholder: 'Insert your email address', required: true %>
          <% if flash[:alert].present? %>
            <div class="login-error-message">
              <%= flash[:alert] %>
            </div>
          <% end %>
        </div>
        <div class="login-button-container">
          <%= submit_tag "Send Token", class: "login-button" %>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>