<p>Hello <%= @user.nome %>,
  <br>
  Thank you for booking <strong><%= @quantity %></strong> <strong><%= @plant.name %></strong> from the nursery <strong>"<%= @nursery.name %>"</strong>.
  
  <% if @quantity == 1 %>
    Your plant is ready for pickup!
  <% else %>
    Your plants are ready for pickup!
  <% end %>
  <br>
  Come visit us at: <strong><%= @nursery.address %></strong> from <strong><%= @nursery.open_time %></strong> to <strong><%= @nursery.close_time %></strong>.
  <br>
  For any issues regarding your reservation, please contact the nursery <strong><%= @nursery.name %></strong> at <%= @nursery.email %>.
  <br>
  Thank you for using our service, the PlantTracker team.
</p>
