<!DOCTYPE html>
<html>
<head>
  <title>Profilo Utente</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="profile-container">
    <div class="welcome-message">
      Benvenuto nel tuo profilo <%= @user.nome %>!
    </div>
    <div class="profile-table">
      <table>
        <tr>
          <th>Nome</th>
          <td><%= @user.nome %></td>
        </tr>
        <tr>
          <th>Cognome</th>
          <td><%= @user.cognome %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= @user.email %></td>
        </tr>
      </table>
    </div>
    
    <hr class="separator" /> <!-- Linea di separazione -->

    <div class="plant-message">
      Queste sono le tue piante:
    </div>
    
    <div class="plant-panels">
      <% if @plants.present? %>
        <% @plants.each do |plant| %>
          <div class="plant-panel">
            <span class="plant-name"><%= plant.pianta %></span>
          </div>
        <% end %>
      <% else %>
        <p>Nessuna pianta trovata.</p>
      <% end %>
    </div>

    <div class="logout-button">
      <%= link_to 'Logout', logout_path, method: :delete, class: 'lo-button' %>
    </div>
  </div>
</body>
</html>
