<div class="banner-home">
  <div class="content">
    <h1>PlantTracker</h1>
    <p class="description">
      PlantTracker is the perfect application for gardening enthusiasts. Explore a wide variety of plants, create your own personal plant collection, and learn about their characteristics. You can also search for nearby nurseries to book the plants you desire.
    </p>
    <p class="description description-separator">
      Are you a florist? PlantTracker also offers a dedicated nursery section where you can create your profile, list the plants for sale, and receive bookings from users. Join us to turn your passion for plants into a thriving community.
    </p>
  </div>
</div>

<!-- Video Background -->
<div class="video-background">
  <video autoplay muted loop id="bg-video">
    <source src="<%= asset_path('video.mp4') %>" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="dark-overlay"></div>
</div>

<!-- Content Sections -->
<div class="content-sections">
  <div class="container">
    <div class="section">
      <%= link_to infoplants_path, class: 'section-link' do %>
        <h2 class="section-title">EXPLORE NEW PLANTS</h2>
        <div class="section-content">
          <img src="<%= asset_path('explore.jpg') %>" alt="Explore" class="section-image">
          <p class="section-description">Discover and learn about the variety of plants around us. Learn the characteristics and uniqueness of the different plant types we have selected. Enjoy them even if you are not a registered user.
</p>
        </div>
      <% end %>
      <div class="home-divider-thin"></div>
    </div>

    <div class="section">
      <% if current_user && current_user.nursery == true %>
        <%= link_to (nursery_profile_path), class: 'section-link' do %>
          <h2 class="section-title">MY NURSERY</h2>
          <div class="section-content">
            <img src="<%= asset_path('myplants.jpg') %>" alt="My Plants" class="section-image">
            <p class="section-description">Manage your catalog. Add the plants you want to sell and view customer bookings.</p>
          </div>
        <% end %>
      <% else %>
        <%= link_to (user_profile_path), class: 'section-link' do %>
          <h2 class="section-title">MY PLANTS</h2>
          <div class="section-content">
            <img src="<%= asset_path('myplants.jpg') %>" alt="My Plants" class="section-image">
            <p class="section-description">Manage your personal plant collection. Have fun adding new plants from and discovering our tips on the best ways to take care of them. If you are a florist, let's add those plants you want to sell.</p>
          </div>
        <% end %>
      <% end %>
      <div class="home-divider-thin"></div>
    </div>

    <div class="section">
      <% link_path = user_signed_in? ? nurseries_path : new_user_session_path %>
      <%= link_to link_path, class: 'section-link' do %>
        <h2 class="section-title">NURSERIES</h2>
        <div class="section-content">
          <img src="<%= asset_path('nurseries.jpg') %>" alt="Nurseries" class="section-image">
          <p class="section-description">Find the nurseries close to you and choose the one you prefer! Have a look to the plants available and enjoy booking plants that you want to add to your own collection or that you wish to give to someone you love.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>


<!-- Footer -->
<div class="footer">
  <footer>
    <div class="copyright">
      <p>&copy; PlantTracker</p>
    </div>
    <div class="social">
      <a href="mailto:planttracker0@gmail.com" target="_blank">
        <i class="fas fa-envelope"></i> Contact Us
      </a>
      <%= link_to about_path, target: "_blank" do %>
        <i class="fas fa-users"></i> About Us
      <% end %>
      <a href="#" onclick="openLink('facebook')">
        <i class="fab fa-facebook"></i> Facebook
      </a>
      <a href="#" onclick="openLink('instagram')">
        <i class="fab fa-instagram"></i> Instagram
      </a>
    </div>
  </footer>
</div>



<script>
  function openLink(platform) {
    var urls = {
      facebook: {
        app: 'fb://profile',
        web: 'https://www.facebook.com/profile.php?id=61563873821173'
      },
      instagram: {
        app: 'instagram://user?username=plantTrackerSPA',
        web: 'https://www.instagram.com/plantTrackerSPA'
      }
    };

    var appUrl = urls[platform].app;
    var webUrl = urls[platform].web;

    var timeout;
    var openApp = setTimeout(function() {
      window.location = webUrl;
    }, 25);

    window.location = appUrl;

    window.addEventListener('blur', function() {
      clearTimeout(openApp);
    });
  }
</script>
