<div class="banner-home">
  <div class="content">
    <h1> PLANTTRACKER </h1>
  </div>
</div>

<div class="container">
  <div class="section">
    <%= link_to infoplants_path, class: 'section-link' do %>
      <h2 class="section-title">Explore All The Plants</h2>
      <div class="section-content">
        <img src="<%= asset_path('explore.jpg') %>" alt="Explore" class="section-image">
        <p class="section-description">Discover a wide variety of plants and learn about their characteristics.</p>
      </div>
    <% end %>
    <div class="home-divider-thin"></div>
  </div>

  <div class="section">
    <%= link_to myplants_path, class: 'section-link' do %>
      <h2 class="section-title">My Plants</h2>
      <div class="section-content">
        <img src="<%= asset_path('myplants.jpg') %>" alt="My Plants" class="section-image">
        <p class="section-description">Manage your personal collection of plants.</p>
      </div>
    <% end %>
    <div class="home-divider-thin"></div>
  </div>

  <div class="section">
    <%= link_to nurseries_path, class: 'section-link' do %>
      <h2 class="section-title">Nurseries</h2>
      <div class="section-content">
        <img src="<%= asset_path('nurseries.jpg') %>" alt="Nurseries" class="section-image">
        <p class="section-description">Find nurseries near you where you can buy plants and gardening supplies.</p>
      </div>
    <% end %>
    <div class="home-divider-thin"></div>
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <footer>
    <div class="copyright">
      <p>&copy; PlantTracker</p>
    </div>
    <div class="social">
      <a href="mailto:planttracker@gmail.com" target="_blank">
        <i class="fas fa-envelope"></i> Contact Us
      </a>
      <%= link_to 'About Us', about_path, target: "_blank" %>
      <a href="#" onclick="openLink('facebook')">
        <i class="fab fa-facebook"></i> Facebook
      </a>
      <a href="#" onclick="openLink('instagram')">
        <i class="fab fa-instagram"></i> Instagram
      </a>
    </div>
  </footer>
</div>


<script>
  function openLink(platform) {
    var urls = {
      facebook: {
        app: 'fb://profile',
        web: 'https://www.facebook.com'
      },
      instagram: {
        app: 'instagram://user?username=planttracker',
        web: 'https://www.instagram.com/planttracker'
      }
    };

    var appUrl = urls[platform].app;
    var webUrl = urls[platform].web;

    var timeout;
    var openApp = setTimeout(function() {
      window.location = webUrl;
    }, 25);

    window.location = appUrl;

    window.addEventListener('blur', function() {
      clearTimeout(openApp);
    });
  }
</script>
