<div class="banner-home">
  <div class="content">
    <h1>PlantTracker</h1>
    <p class="description">
      PlantTracker è l'applicazione ideale per gli appassionati di giardinaggio. Tieni traccia delle tue piante, ricevi promemoria per la loro gestione e ottieni consigli su come prendertene cura. Esplora una vasta varietà di piante, aggiungi nuove piante alla tua collezione personale e trova vivai nelle tue vicinanze.
    </p>
    <p class="description description-separator">
      Sei un fioraio? PlantTracker offre anche una sezione dedicata ai vivai, dove puoi creare il tuo profilo, inserire le piante in vendita e ricevere prenotazioni dagli utenti. Unisciti a noi per trasformare la tua passione per le piante in una comunità fiorente.
    </p>
  </div>
</div>


<!-- Video Background -->
<div class="video-background">
  <video autoplay muted loop id="bg-video">
    <source src="<%= asset_path('video.mp4') %>" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="dark-overlay"></div>
</div>

<!-- Content Sections -->
<div class="content-sections">
  <div class="container">
    <div class="section">
      <%= link_to infoplants_path, class: 'section-link' do %>
        <h2 class="section-title">ESPLORA PIANTE NUOVE</h2>
        <div class="section-content">
          <img src="<%= asset_path('explore.jpg') %>" alt="Explore" class="section-image">
          <p class="section-description">Scopri ed impara a conoscere la varietà di piante che ci circondano. Apprendi caratteristiche e particolarità che contraddistinguono le diverse tipologie di piante che abbiamo selezionato.</p>
        </div>
      <% end %>
      <div class="home-divider-thin"></div>
    </div>

    <div class="section">
      <%= link_to (current_user.nursery ? nursery_profile_path : user_profile_path), class: 'section-link' do %>
        <h2 class="section-title">LE MIE PIANTE</h2>
        <div class="section-content">
          <img src="<%= asset_path('myplants.jpg') %>" alt="My Plants" class="section-image">
          <p class="section-description">Gestisci la tua collezione personale di piante. Divertiti ad aggiungere le tue piante nuove alla collezione e scopri i nostri consigli sul modo migliore per prendertene cura.</p>
        </div>
      <% end %>
      <div class="home-divider-thin"></div>
    </div>


    <div class="section">
      
      <%= link_to nurseries_path, class: 'section-link' do %>
        <h2 class="section-title">VIVAI</h2>
        <div class="section-content">
          <img src="<%= asset_path('nurseries.jpg') %>" alt="Nurseries" class="section-image">
          <p class="section-description">Trova il vivaio a te più vicino e che più preferisci per prenotare piante da ritirare in negozio che andrai ad aggiungere alla tua fantastica collezione!</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <footer>
    <div class="copyright">
      <p>&copy; PlantTracker</p>
    </div>
    <div class="social">
      <a href="mailto:planttracker@gmail.com" target="_blank">
        <i class="fas fa-envelope"></i> Contact Us
      </a>
      <%= link_to about_path, target: "_blank" do %>
        <i class="fas fa-users"></i> About Us
      <% end %>
      <a href="#" onclick="openLink('facebook')">
        <i class="fab fa-facebook"></i> Facebook
      </a>
      <a href="#" onclick="openLink('instagram')">
        <i class="fab fa-instagram"></i> Instagram
      </a>
    </div>
  </footer>
</div>



<script>
  function openLink(platform) {
    var urls = {
      facebook: {
        app: 'fb://profile',
        web: 'https://www.facebook.com'
      },
      instagram: {
        app: 'instagram://user?username=planttracker',
        web: 'https://www.instagram.com/planttracker'
      }
    };

    var appUrl = urls[platform].app;
    var webUrl = urls[platform].web;

    var timeout;
    var openApp = setTimeout(function() {
      window.location = webUrl;
    }, 25);

    window.location = appUrl;

    window.addEventListener('blur', function() {
      clearTimeout(openApp);
    });
  }
</script>