<!DOCTYPE html>
<html>
<head>
  <title>Profilo Vivaio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css">
</head>
<body>
  <div class="profile-container">
    <div class="welcome-message">
      Benvenuto nel tuo vivaio <%= @user.nome.capitalize %>!
    </div>

    <div id="profile-view" style="<%= @user.errors.any? ? 'display: none;' : 'display: block;' %>">
      <div class="profile-table">
        <table>
          <tr>
            <th>Nome</th>
            <td><%= @user.nome %></td>
          </tr>
          <tr>
            <th>Cognome</th>
            <td><%= @user.cognome %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= @user.email %></td>
          </tr>
        </table>
      </div>

      <div class="form-container">
        <%= form_with(model: @nursery, url: update_nursery_image_path(@nursery), method: :patch, local: true, html: { multipart: true }) do |form| %>
          <%= form.label :nursery_image, "Seleziona l'immagine del tuo vivaio", style: "font-size: 1.4em; font-weight: bold;" %>

          <div class="custom-file-upload">
            <label for="file-upload" class="custom-file-upload-button" id="select-image-button">
              Scegli Immagine
            </label>
            <%= form.file_field :nursery_image, id: "file-upload", style: "display: none;" %>
            <span id="file-selected"></span>
          </div>

          <%= form.submit "Aggiungi", class: "custom-submit-button", id: "submit-button", style: "display: none;" %>
        <% end %>
      </div>



      <% if @nursery.nursery_image.attached? %>
        <div class="image-nursery-container">
          <%= image_tag @nursery.nursery_image, class: "circle-image" %>
        </div>
      <% else %>
        <p style="text-align: center; font-size: 1.4em;">Nessuna immagine del profilo disponibile</p>
      <% end %>
      
      <div class="profile-buttons" style="text-align: center;">
        <button id="edit-profile-button" class="btn btn-primary">Modifica profilo</button>
        <%= link_to 'Logout', destroy_user_session_path, method: :get, id: 'logout-button', class: 'btn btn-danger' %>
      </div>
    </div>

    <div id="profile-edit" style="<%= @user.errors.any? ? 'display: block;' : 'display: none;' %>">
      <%= form_with model: @user, url: user_profile_path, local: true do |form| %>
        <%= hidden_field_tag :return_to, request.fullpath %>
        <div class="input-group <%= 'has-error' if @user.errors[:nome].any? %>">
          <%= form.label :nome, "Nome", class: 'form-label' %>
          <%= form.text_field :nome, value: @user.nome, required: true %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:cognome].any? %>">
          <%= form.label :cognome, "Cognome", class: 'form-label' %>
          <%= form.text_field :cognome, value: @user.cognome, required: true %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:current_password].any? %>">
          <%= form.label :current_password, "Password Attuale", class: 'form-label' %>
          <%= form.password_field :current_password, required: true %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:password].any? %>">
          <%= form.label :password, "Nuova Password", class: 'form-label'%>
          <%= form.password_field :password, placeholder: "Lascia vuoto se non vuoi cambiare" %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:password_confirmation].any? %>">
          <%= form.label :password_confirmation, "Conferma Nuova Password", class: 'form-label'%>
          <%= form.password_field :password_confirmation, placeholder: "Lascia vuoto se non vuoi cambiare" %>
        </div>
        <div class="input-group">
          <%= form.label :address, "Nuovo Indirizzo di Casa", class: 'form-label' %>
          <%= form.text_field :address, value: @user.address, required: true %>
        </div>
        <% if flash[:alert].present? %>
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
        <% end %>
        <div class="profile-buttons">
          <%= form.submit "Invia", class: "btn btn-primary" %>
          <button id="cancel-edit-button" class="btn btn-secondary" type="button" onclick="cancelEdit()">Annulla</button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="profile-nursery-header">
    <p class="profile-nursery-name"><%= @nursery.name %></p>
    <p class="profile-location"><%= @nursery.location %></p>
  </div>

  <div class="profile-nursery-details" style="<%= @nursery.errors.any? ? 'display: none;' : 'display: block;' %>">
    <p><strong>Indirizzo:</strong> <span id="address-display"><%= @nursery.address %></span></p>
    <p><strong>Telefono:</strong> <span id="number-display">+39 <%= @nursery.number.to_s %></span></p>
    <p><strong>Email:</strong> <span id="email-display"><%= @nursery.email.to_s %></span></p>
    <p><strong>Orario:</strong> 
      <span id="open_time-display"><%= @nursery.open_time %></span> - 
      <span id="close_time-display"><%= @nursery.close_time %></span>
    </p>
    <p><strong>Descrizione:</strong> <span id="description-display"><%= @nursery.description.to_s %></span></p>

    <div class="profile-buttons">
      <button type="button" id="edit-button" class="btn btn-primary" style="font-size: 1em;" onclick="showNurseryEdit()">Modifica informazioni</button>
    </div>
  </div>

  <div class="profile-nursery-edit" style="<%= @nursery.errors.any? ? 'display: block;' : 'display: none;' %>">
    <%= form_with(model: @nursery, url: update_nursery_path(@nursery), method: :patch) do |form| %>
      <div>
        <p><strong>Indirizzo:</strong> 
          <%= form.text_field :address, value: @nursery.address, class: "edit-field small-input #{'has-error' if @nursery.errors[:address].present?}" %>
          <span class="error-message" id="address-error"><%= @nursery.errors[:address].join(', ') if @nursery.errors[:address].present? %></span>
        </p>
      </div>

      <div>
        <p><strong>Telefono:</strong> 
          <%= form.text_field :number, value: @nursery.number.to_s, class: "edit-field small-input #{'has-error' if @nursery.errors[:number].present?}" %>
          <span class="error-message" id="number-error"><%= @nursery.errors[:number].join(', ') if @nursery.errors[:number].present? %></span>
        </p>
      </div>

      <div>
        <p><strong>Email:</strong> 
          <%= form.text_field :email, value: @nursery.email.to_s, class: "edit-field small-input #{'has-error' if @nursery.errors[:email].present?}" %>
          <span class="error-message" id="email-error"><%= @nursery.errors[:email].join(', ') if @nursery.errors[:email].present? %></span>
        </p>
      </div>

      <div>
        <p><strong>Orario:</strong>
          <%= form.text_field :open_time, value: @nursery.open_time.to_s, class: "edit-field-time #{'has-error' if @nursery.errors[:email].present?}" %>
          -
          <%= form.text_field :close_time, value: @nursery.close_time.to_s, class: "edit-field-time #{'has-error' if @nursery.errors[:email].present?}"  %>
          <span class="error-message" id="time-error"><%= @nursery.errors[:base].join(', ') if @nursery.errors[:base].present? %></span>
        </p>
      </div>

      <div>
        <p><strong>Descrizione:</strong> 
          <%= form.text_area :description, value: @nursery.description.to_s, class: "edit-field #{'has-error' if @nursery.errors[:email].present?}"  %>
          <span class="error-message" id="description-error"><%= @nursery.errors[:description].join(', ') if @nursery.errors[:description].present? %></span>
        </p>
      </div>

      <div class="profile-buttons">
        <%= form.submit "Salva modifiche", id: "save-button", class: "btn btn-primary", style: "font-size: 1em;", disabled: !form.object.valid? %>
        <button type="button" class="btn btn-secondary" style="font-size: 1em;" id="annulla-btn" onclick="cancelNurseryEdit()">Annulla</button>
      </div>
    <% end %>
  </div>


  <div class="plant-message">
    Le tue piante in vendita:
  </div>

  <div class="nursery-plants-available <%= 'single-item' if @myplants.present? && @myplants.size == 1 %>">
    <% if @myplants.present? %>
      <div class="nursery-plants-container">
        <% @myplants.each do |plant| %>
        
          <div class="nursery-plant-box">
            <%= image_tag "#{plant.name}.jpg", alt: plant.name, class: "nursery-plant-image" %>

            <div class="plant-info">
              <h3 class="nome" style="text-align: center; font-size: 2.5em;"><strong><%= plant.name %></strong></h3>
              <p><strong>Tipologia:</strong> <%= plant.typology %></p>
              <p><strong>Luce:</strong> <%= ['ombra completa', 'ombra parziale', 'luce indiretta', 'sole diretto'][plant.light - 1] %></p>
              <p><strong>Irrigazione:</strong> <%= ['raramente', 'ogni tanto', 'frequentemente'][plant.irrigation - 1] %></p>
              <p><strong>Dimensione:</strong> <%= ['piccola', 'media', 'grande'][plant.size - 1] %></p>
              <p><strong>Clima:</strong> <%= plant.climate %></p>
              <p><strong>Uso:</strong> <%= plant.use %></p>
              <p><strong>Descrizione:</strong> <%= plant.description %></p>
            </div>

            <div class="plant-controls">
              <div class="plant-availability">
                <p><strong>Disponibilità:</strong></p>
                <div class="availability-controls">
                  <p id="disp-<%= plant.id %>"><%= plant.disp %></p>
                  <span class="btn-incdisp" data-plant-id="<%= plant.id %>" data-nursery-id="<%= @nursery.id %>">+</span>
                  <span class="btn-decdisp" data-plant-id="<%= plant.id %>" data-nursery-id="<%= @nursery.id %>">-</span>
                </div>
              </div>

              <p class="plant-reservations"><strong>Ordinazioni:</strong> <%= plant.res %></p>
            </div>

            <div class="btn-removenursplant" style="text-align:" data-plant-id="<%= plant.id %>" data-nursery-id="<%= @nursery.id %>">
              <p>Rimuovi Dal Commercio</p>
            </div>
          </div>

        <% end %>
      </div>
    <% else %>
      <div class="btn-nurs" style="margin-top: -10px;">
        <p class="no-results">Non hai messo in vendita nessuna pianta ancora.<br> Aggiungile dal catalogo qui sotto</p>
        <%= link_to 'catalogo', infoplants_path, class: 'nav-link btn-primary' %>
      </div>
    <% end %>
  </div>


  <div class="table-reservations">
    <h2 style="font-size: 2em;">Prenotazioni dei Clienti</h2>

    <% if @reservations.present? && @reservations.empty? %>
      <div class="btn-nurs">
        <h2 style="font-size: 1.5em; color: black !important;">Nessuna prenotazione da soddisfare</h2>
      </div>
    <% else %>
      <% if @reservations.present? %>
          <table>
            <thead>
              <tr>
                <th>Pianta</th>
                <th>Email Utente</th>
                <th>Quantità</th>
                <th>Soddisfa</th>
              </tr>
            </thead>
            <tbody>
              <% @myplants.each do |plant| %>
                <% if @reservations[plant.nursery_plant_id] %>
                  <% email_counts = Hash.new(0) %>
                  <% @reservations[plant.nursery_plant_id].each do |email, _| %>
                    <% email_counts[email] += 1 %>
                  <% end %>
                  <% email_counts.each do |email, count| %>
                    <tr>
                      <td><%= plant.name %></td>
                      <td><%= email %></td>
                      <td><%= count %></td>
                      <td>
                        <%= check_box_tag "satisfied_#{plant.id}_#{email}", true, false, class: "satisfy-order", data: { plant_id: plant.nursery_plant_id, email: email } %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        
      <% else %>
        <div class="btn-nurs">
          <h2 style="font-size: 1.5em; color: black !important;">Nessuna prenotazione da soddisfare</h2>
        </div>
      <% end %>
    <% end %>
  </div>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      const fileUploadInput = document.getElementById("file-upload");
      const fileSelectedText = document.getElementById("file-selected");
      const selectImageButton = document.getElementById("select-image-button");
      const submitButton = document.getElementById("submit-button");

      // Funzione per aggiornare la visibilità dei pulsanti
      function updateButtonVisibility() {
        if (fileUploadInput.files.length > 0) {
          selectImageButton.style.display = "none";
          submitButton.style.display = "inline-block";
        } else {
          selectImageButton.style.display = "inline-block";
          submitButton.style.display = "none";
          fileSelectedText.textContent = "";
        }
      }

      // Aggiungi listener per l'input file
      fileUploadInput.addEventListener("change", updateButtonVisibility);

      // Verifica lo stato dell'input file al caricamento della pagina
      updateButtonVisibility();
    });



    document.addEventListener("DOMContentLoaded", function() {
      const satisfyOrderCheckboxes = document.querySelectorAll(".satisfy-order");
      satisfyOrderCheckboxes.forEach(checkbox => {
        checkbox.addEventListener("change", function() {
          const plantId = checkbox.getAttribute('data-plant-id');
          const email = checkbox.getAttribute('data-email');

          if (checkbox.checked) {
            fetch('/nursery_profile/satisfy_order', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
              },
              body: JSON.stringify({ plant_id: plantId, email: email })
            })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                if (confirm('Sei sicuro di aver soddisfatto tutte le prenotazioni per questa pianta?')) {
                  checkbox.closest('tr').remove();
                }
              } else {
                alert(data.message || "Errore nella soddisfazione dell'ordine.");
                checkbox.checked = false;
              }
            })
            .catch(error => {
              console.error('Errore:', error);
              alert('Errore: ' + error.message);
              checkbox.checked = false;
            });
          }
        });
      });
    });


    const reserveRemoveButtons = document.querySelectorAll(".btn-removenursplant");
    reserveRemoveButtons.forEach(button => {
      button.addEventListener("click", function() {
        const nurseryId = button.getAttribute('data-nursery-id');
        const plantId = button.getAttribute('data-plant-id');
        const plantBox = button.closest('.nursery-plant-box'); 

        if (plantBox) {
          button.style.pointerEvents = "none";
          fetch('/removenursplant', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            },
            body: JSON.stringify({ plant_id: plantId, nursery_id: nurseryId })
          })
          .then(response => {
            if (!response.ok) {
              return response.text().then(text => {
                throw new Error(text);
              });
            }
            return response.json();
          })
          .then(data => {
            if (data.success) {
              plantBox.remove();
            } else {
              alert(data.message || "Errore nella rimozione. Riprova.");
              button.style.pointerEvents = "auto";
            }
          })
          .catch(error => {
            console.error('Errore:', error);
            alert('Errore: ' + error.message);
            button.style.pointerEvents = "auto";
          });
        } else {
          console.error("Elemento non trovato.");
        }
      });
    });

    const reserveIncButtons = document.querySelectorAll(".btn-incdisp");
    reserveIncButtons.forEach(button => {
      button.addEventListener("click", function() {
        const nurseryId = button.getAttribute('data-nursery-id');
        const plantId = button.getAttribute('data-plant-id');
        const disponibilityElement = document.getElementById(`disp-${plantId}`);

        fetch('/incdisp', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
          },
          body: JSON.stringify({ plant_id: plantId, nursery_id: nurseryId })
        })
        .then(response => {
          if (!response.ok) {
            return response.text().then(text => {
              throw new Error(text);
            });
          }
          return response.json();
        })
        .then(data => {
          if (data.success) {
            if (disponibilityElement) {
              let currentDisponibility = parseInt(disponibilityElement.textContent, 10);
              disponibilityElement.textContent = currentDisponibility + 1;
            }
          } else {
            alert(data.message || "Errore nell'incremento. Riprova.");
          }
        })
        .catch(error => {
          console.error('Errore:', error);
          alert('Errore: ' + error.message);
        });
      });
    });

    const reserveDecButtons = document.querySelectorAll(".btn-decdisp");
    reserveDecButtons.forEach(button => {
      button.addEventListener("click", function() {
        const nurseryId = button.getAttribute('data-nursery-id');
        const plantId = button.getAttribute('data-plant-id');
        const disponibilityElement = document.getElementById(`disp-${plantId}`);

        fetch('/decdisp', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
          },
          body: JSON.stringify({ plant_id: plantId, nursery_id: nurseryId })
        })
        .then(response => {
          if (!response.ok) {
            return response.text().then(text => {
              throw new Error(text);
            });
          }
          return response.json();
        })
        .then(data => {
          if (data.success) {
            if (disponibilityElement) {
              let currentDisponibility = parseInt(disponibilityElement.textContent, 10);
              disponibilityElement.textContent = currentDisponibility - 1;
            }
          }
        })
        .catch(error => {
          console.error('Errore:', error);
          alert('Errore: ' + error.message);
        });
      });
    });

    document.getElementById("edit-profile-button").addEventListener("click", function() {
      document.getElementById("profile-view").style.display = "none";
      document.getElementById("profile-edit").style.display = "block";
    });

    function cancelEdit() {
      document.getElementById("profile-edit").style.display = "none";
      document.getElementById("profile-view").style.display = "block";
    }

  document.addEventListener("DOMContentLoaded", function() {
    const editButton = document.getElementById("edit-button");
    const saveButton = document.getElementById("save-button");
    const cancelButton = document.getElementById("annulla-btn");

    // Funzione per mostrare il form di modifica
    function showNurseryEdit() {
      document.querySelector('.profile-nursery-details').style.display = 'none';
      document.querySelector('.profile-nursery-edit').style.display = 'block';
      saveButton.style.display = "inline";  // Mostra il pulsante "Salva modifiche"
      cancelButton.style.display = "inline"; // Mostra il pulsante "Annulla"
      editButton.style.display = "none";    // Nascondi il pulsante "Modifica informazioni"
    }

    // Funzione per annullare la modifica e tornare alla visualizzazione
    function cancelNurseryEdit() {
      document.querySelector('.profile-nursery-details').style.display = 'block';
      document.querySelector('.profile-nursery-edit').style.display = 'none';
      saveButton.style.display = "none";    // Nascondi il pulsante "Salva modifiche"
      cancelButton.style.display = "none";  // Nascondi il pulsante "Annulla"
      editButton.style.display = "inline";  // Mostra il pulsante "Modifica informazioni"
    }

    // Aggiungi l'evento al pulsante di modifica
    editButton.addEventListener("click", showNurseryEdit);
    cancelButton.addEventListener("click", cancelNurseryEdit);

    // Gestione della visibilità dei pulsanti in caso di errore
    document.querySelector('.profile-nursery-edit').addEventListener('submit', function(event) {
      const hasErrors = document.querySelector('.profile-nursery-edit').querySelector('.error');
      if (hasErrors) {
        event.preventDefault(); // Impedisce l'invio del form in caso di errori
        saveButton.style.display = "inline";  // Mantieni il pulsante "Salva modifiche"
        cancelButton.style.display = "inline"; // Mantieni il pulsante "Annulla"
        editButton.style.display = "none";    // Nascondi il pulsante "Modifica informazioni"
      } else {
        // Se non ci sono errori, consentire l'invio del form
        saveButton.style.display = "none";    // Nascondi il pulsante "Salva modifiche"
        cancelButton.style.display = "none";  // Nascondi il pulsante "Annulla"
        editButton.style.display = "inline";  // Mostra il pulsante "Modifica informazioni"
      }
    });

    // All'inizio, determinare quale vista mostrare
    if (document.querySelector('.profile-nursery-edit').style.display === 'block') {
      saveButton.style.display = "inline";
      cancelButton.style.display = "inline";
      editButton.style.display = "none";
    } else {
      saveButton.style.display = "none";
      cancelButton.style.display = "none";
      editButton.style.display = "inline";
    }
  });




  </script>

</body>
</html>
