<!DOCTYPE html>
<html>
<head>
  <title>Profilo Vivaio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="profile-container">
    <div class="welcome-message">
      Benvenuto nel tuo vivaio <%= @user.nome %>!
    </div>

    <div id="profile-view" style="<%= @user.errors.any? ? 'display: none;' : 'display: block;' %>">
      <div class="profile-table">
        <table>
          <tr>
            <th>Nome</th>
            <td><%= @user.nome %></td>
          </tr>
          <tr>
            <th>Cognome</th>
            <td><%= @user.cognome %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= @user.email %></td>
          </tr>
        </table>
      </div>
      <div class="profile-buttons">
        <button id="edit-profile-button" class="btn btn-primary">Modifica profilo</button>
        <%= link_to 'Logout', logout_path, method: :delete, id: 'logout-button', class: 'btn btn-danger' %>
      </div>
    </div>

    <div id="profile-edit" style="<%= @user.errors.any? ? 'display: block;' : 'display: none;' %>">
      <%= form_with model: @user, url: user_profile_path, local: true do |form| %>
        <div class="input-group <%= 'has-error' if @user.errors[:nome].any? %>">
          <%= form.label :nome, "Nome", class: 'form-label' %>
          <%= form.text_field :nome, value: @user.nome, required: true %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:cognome].any? %>">
          <%= form.label :cognome, "Cognome", class: 'form-label' %>
          <%= form.text_field :cognome, value: @user.cognome, required: true %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:current_password].any? %>">
          <%= form.label :current_password, "Password Attuale", class: 'form-label' %>
          <%= form.password_field :current_password, required: true %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:password].any? %>">
          <%= form.label :password, "Nuova Password", class: 'form-label' %>
          <%= form.password_field :password %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:password_confirmation].any? %>">
          <%= form.label :password_confirmation, "Conferma Nuova Password", class: 'form-label' %>
          <%= form.password_field :password_confirmation %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:password].any? %>">
          <%= form.label :password, "Nuovo Indirizzo di Casa", class: 'form-label' %>
          <%= form.text_field :address, value: @user.address, required: true %>
        </div>
        <% if flash[:alert].present? %>
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
        <% end %>
        <div class="profile-buttons">
          <%= form.submit "Invia", class: "btn btn-primary" %>
          <button id="cancel-edit-button" class="btn btn-secondary" onclick="cancelEdit()">Annulla</button>
        </div>
      <% end %>
    </div>
  
  </div>

  <div class="plant-message">
    Le tue piante in vendita:
  </div>

  <div class="nursery-plants-available <%= 'single-item' if @myplants.size == 1 %>">
    <% if @myplants.any? %>
      <div class="nursery-plants-container">
        <% @myplants.each do |plant| %>
        
          <div class="nursery-plant-box" style="text-align: left;">
            <%= image_tag "#{plant.name}.jpg", alt: plant.name, class:"nursery-plant-image" %>
          
            <h3 class="nome" style="text-align: center;"><strong><%= plant.name %></strong></h3>
            <p><strong>Tipologia:</strong> <%= plant.typology %></p>
            <p><strong>Luce:</strong> <%= ['ombra completa', 'ombra parziale', 'luce indiretta', 'sole diretto'][plant.light - 1] %></p>
            <p><strong>Irrigazione:</strong> <%= ['raramente', 'ogni tanto', 'frequentemente'][plant.irrigation - 1] %></p>
            <p><strong>Dimensione:</strong> <%= ['piccola', 'media', 'grande'][plant.size - 1] %></p>
            <p><strong>Clima:</strong> <%= plant.climate %></p>
            <p><strong>Uso:</strong> <%= plant.use %></p>
            <p><strong>Descrizione:</strong> <%= plant.description %></p>
            <p style="text-align: center; margin-top: 2%;"><strong>Disponibiltà:</strong> <%= plant.disp %></p>
            <p style="text-align: center;"><strong>Ordinazioni:</strong> <%= plant.res %></p>

            <p><strong>Utenti che hanno prenotato questa pianta:</strong></p>
            <% emails = @reservations[plant.nursery_plant_id] %>
            <% if emails %>
              <% emails.each do |email| %>
                <p><%= email[0] %></p>
              <% end %>
            <% else %>
              <p>Nessuna prenotazione.</p>
            <% end %>
          </div>

        <% end %>
      </div>
    <% else %>
      <p class="no-results">Non ci sono piante</p>
    <% end %>
  </div>

  <hr class="separator">

  <script type="text/javascript">
    document.getElementById("edit-profile-button").addEventListener("click", function() {
      document.getElementById("profile-view").style.display = "none";
      document.getElementById("profile-edit").style.display = "block";
    });

    function cancelEdit() {
      document.getElementById("profile-edit").style.display = "none";
      document.getElementById("profile-view").style.display = "block";
    }
  </script>
</body>
</html>
