<!DOCTYPE html>
<html>
<head>
  <title>Profilo Vivaio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="profile-container">
    <div class="welcome-message">
      Benvenuto nel tuo vivaio <%= @user.nome %>!
    </div>

    <div id="profile-view" style="<%= @user.errors.any? ? 'display: none;' : 'display: block;' %>">
      <div class="profile-table">
        <table>
          <tr>
            <th>Nome</th>
            <td><%= @user.nome %></td>
          </tr>
          <tr>
            <th>Cognome</th>
            <td><%= @user.cognome %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= @user.email %></td>
          </tr>
        </table>
      </div>
      <div class="edit-button">
        <button id="edit-profile-button" class="lo-button">Modifica profilo</button>
      </div>
    </div>

    <div id="profile-edit" style="<%= @user.errors.any? ? 'display: block;' : 'display: none;' %>">
      <%= form_with model: @user, url: user_profile_path, local: true do |form| %>
        <div class="input-group <%= 'has-error' if @user.errors[:nome].any? %>">
          <%= form.label :nome, "Nome", class: 'form-label' %>
          <%= form.text_field :nome, value: @user.nome, required: true %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:cognome].any? %>">
          <%= form.label :cognome, "Cognome", class: 'form-label' %>
          <%= form.text_field :cognome, value: @user.cognome, required: true %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:current_password].any? %>">
          <%= form.label :current_password, "Password Attuale", class: 'form-label' %>
          <%= form.password_field :current_password, required: true %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:password].any? %>">
          <%= form.label :password, "Nuova Password", class: 'form-label' %>
          <%= form.password_field :password %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:password_confirmation].any? %>">
          <%= form.label :password_confirmation, "Conferma Nuova Password", class: 'form-label' %>
          <%= form.password_field :password_confirmation %>
        </div>
        <div class="checkbox-container">
          <%= form.label :nursery, "Vivaio", class: 'checkbox-label' %>
          <%= form.check_box :nursery, {}, 'true', 'false' %>
        </div>
        <% if flash[:alert].present? %>
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
        <% end %>
        <div class="button-container">
          <button type="submit" class="button">Conferma modifiche</button>
        </div>
      <% end %>
    </div>

    <hr class="separator" >

    <div class="nursery-plants-available <%= 'single-item' if @myplants.size == 1 %>">
      <% if @myplants.any? %>
        <div class="nursery-plants-container">
          <% @myplants.each do |plant| %>
          
            <div class="nursery-plant-box">
              <%= image_tag "#{plant.name}.jpg", alt: plant.name, class:"nursery-plant-image" %>
            
              <p class="nome"><strong><%= plant.name %></strong></p>
              <p><strong>Tipologia:</strong> <%= plant.typology %></p>
              <p><strong>Luce:</strong> <%= ['ombra completa', 'ombra parziale', 'luce indiretta', 'sole diretto'][plant.light - 1] %></p>
              <p><strong>Irrigazione:</strong> <%= ['raramente', 'ogni tanto', 'frequentemente'][plant.irrigation - 1] %></p>
              <p><strong>Dimensione:</strong> <%= ['piccola', 'media', 'grande'][plant.size - 1] %></p>
              <p><strong>Clima:</strong> <%= plant.climate %></p>
              <p><strong>Uso:</strong> <%= plant.use %></p>
              <p><strong>Descrizione:</strong> <%= plant.description %></p>
              <p><strong>Disponibiltà:</strong> <%= plant.disp %></p>
              <p><strong>Ordinazioni:</strong> <%= plant.res %></p>
            </div>

          <% end %>
        </div>
      <% else %>
        <p class="no-results">Non ci sono piante</p>
      <% end %>
    </div>

    <hr class="separator" >

    <div class="logout-button">
      <%= link_to 'Logout', logout_path, method: :delete, class: 'lo-button' %>
    </div>
  </div>

  <script>
    document.getElementById('edit-profile-button').addEventListener('click', function() {
      document.getElementById('profile-view').style.display = 'none';
      document.getElementById('profile-edit').style.display = 'block';
    });
  </script>
</body>
</html>
