<!DOCTYPE html>
<html>
<head>
  <title>Profilo Vivaio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="profile-container">
    <div class="welcome-message">
      Benvenuto nel tuo vivaio <%= @user.nome %>!
    </div>

    <div id="profile-view" style="<%= @user.errors.any? ? 'display: none;' : 'display: block;' %>">
      <div class="profile-table">
        <table>
          <tr>
            <th>Nome</th>
            <td><%= @user.nome %></td>
          </tr>
          <tr>
            <th>Cognome</th>
            <td><%= @user.cognome %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= @user.email %></td>
          </tr>
        </table>
      </div>
      <div class="profile-buttons">
        <button id="edit-profile-button" class="btn btn-primary">Modifica profilo</button>
        <%= link_to 'Logout', logout_path, method: :delete, id: 'logout-button', class: 'btn btn-danger' %>
      </div>
    </div>

    <div id="profile-edit" style="<%= @user.errors.any? ? 'display: block;' : 'display: none;' %>">
      <%= form_with model: @user, url: user_profile_path, local: true do |form| %>
        <div class="input-group <%= 'has-error' if @user.errors[:nome].any? %>">
          <%= form.label :nome, "Nome", class: 'form-label' %>
          <%= form.text_field :nome, value: @user.nome, required: true %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:cognome].any? %>">
          <%= form.label :cognome, "Cognome", class: 'form-label' %>
          <%= form.text_field :cognome, value: @user.cognome, required: true %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:current_password].any? %>">
          <%= form.label :current_password, "Password Attuale", class: 'form-label' %>
          <%= form.password_field :current_password, required: true %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:password].any? %>">
          <%= form.label :password, "Nuova Password", class: 'form-label' %>
          <%= form.password_field :password %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:password_confirmation].any? %>">
          <%= form.label :password_confirmation, "Conferma Nuova Password", class: 'form-label' %>
          <%= form.password_field :password_confirmation %>
        </div>
        <div class="input-group <%= 'has-error' if @user.errors[:password].any? %>">
          <%= form.label :password, "Nuovo Indirizzo di Casa", class: 'form-label' %>
          <%= form.text_field :address, value: @user.address, required: true %>
        </div>
        <% if flash[:alert].present? %>
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
        <% end %>
        <div class="profile-buttons">
          <%= form.submit "Invia", class: "btn btn-primary" %>
          <button id="cancel-edit-button" class="btn btn-secondary" onclick="cancelEdit()">Annulla</button>
        </div>
      <% end %>
    </div>
  
  </div>


  <div class="profile-nursery-header">
    <p class="profile-nursery-name"><%= @nursery.name %></p>
    <p class="profile-location"><%= @nursery.location %></p>
  </div>

  <div class="profile-nursery-details">
    <p><strong>Indirizzo:</strong> <%= @nursery.address %></p>
    <p><strong>Telefono:</strong> +39 <%= @nursery.number %></p>
    <p><strong>Email:</strong> <%= @nursery.email %></p>
    <p><strong>Orario:</strong> <%= @nursery.open_time %> - <%= @nursery.close_time %></p>
    <p><strong>Descrizione:</strong> <%= @nursery.description %></p>
  </div>

  <div class="plant-message">
    Le tue piante in vendita:
  </div>

  <div class="nursery-plants-available <%= 'single-item' if @myplants.size == 1 %>">
    <% if @myplants.any? %>
      <div class="nursery-plants-container">
        <% @myplants.each do |plant| %>
        
          <div class="nursery-plant-box" style="text-align: left;">
            <%= image_tag "#{plant.name}.jpg", alt: plant.name, class:"nursery-plant-image" %>
          
            <h3 class="nome" style="text-align: center;"><strong><%= plant.name %></strong></h3>
            <p><strong>Tipologia:</strong> <%= plant.typology %></p>
            <p><strong>Luce:</strong> <%= ['ombra completa', 'ombra parziale', 'luce indiretta', 'sole diretto'][plant.light - 1] %></p>
            <p><strong>Irrigazione:</strong> <%= ['raramente', 'ogni tanto', 'frequentemente'][plant.irrigation - 1] %></p>
            <p><strong>Dimensione:</strong> <%= ['piccola', 'media', 'grande'][plant.size - 1] %></p>
            <p><strong>Clima:</strong> <%= plant.climate %></p>
            <p><strong>Uso:</strong> <%= plant.use %></p>
            <p><strong>Descrizione:</strong> <%= plant.description %></p>
            <p style="text-align: center; margin-top: 2%;">
              <strong>Disponibilità: <span id="disp-<%= plant.id %>"><%= plant.disp %></span></strong>
              <span class="btn-incdisp" data-plant-id="<%= plant.id %>" data-nursery-id="<%= @nursery.id %>" style="display: inline-block; margin-left: 10px; cursor: pointer;">
                +
              </span>
              <span class="btn-decdisp" data-plant-id="<%= plant.id %>" data-nursery-id="<%= @nursery.id %>" style="display: inline-block; margin-left: 10px; cursor: pointer;">
                -
              </span>
              
             </p>
            <p style="text-align: center;"><strong>Ordinazioni:</strong> <%= plant.res %></p>
            <br>
            <% emails = @reservations[plant.nursery_plant_id] %>
            <% if emails %>
              <p><strong>Utenti che hanno prenotato questa pianta:</strong></p>
              <% email_counts = Hash.new(0) %>
              <% emails.each do |email| %>
                <% email_counts[email[0]] += 1 %>
              <% end %>

              <% email_counts.each do |email, count| %>
                <p><%= email %>: <%= count %> </p>
              <% end %>
            <% else %>
              <p><strong>Nessuna prenotazione.</strong></p>
            <% end %>

            <div class="btn-removenursplant" data-plant-id="<%= plant.id %>" data-nursery-id="<%= @nursery.id %>">
              <p>Rimuovi Dal Commercio</p>
            </div>

          </div>
        <% end %>
      </div>
    <% else %>
      <p class="no-results">Non ci sono piante</p>
    <% end %>
  </div>

  <hr class="separator">

  <% if @myplants.any? %>
    <% @myplants.each do |plant| %>
    
      <% emails = @reservations[plant.nursery_plant_id] %>
      <% if emails %>
        <% email_counts = Hash.new(0) %>

        <% emails.each do |email| %>
          <% email_counts[email[0]] += 1 %>
        <% end %>
        <% email_counts.each do |email, count| %>
          <%= plant.name %> <%= email %>: <%= count %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    const reserveRemoveButtons = document.querySelectorAll(".btn-removenursplant");
    reserveRemoveButtons.forEach(button => {
      button.addEventListener("click", function() {
        const nurseryId = button.getAttribute('data-nursery-id');
        const plantId = button.getAttribute('data-plant-id');
        const plantBox = button.closest('.nursery-plant-box'); // Cambia qui il selettore

        if (plantBox) {
          button.style.pointerEvents = "none";
          fetch('/removenursplant', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            },
            body: JSON.stringify({ plant_id: plantId, nursery_id: nurseryId })
          })
          .then(response => {
            if (!response.ok) {
              return response.text().then(text => {
                throw new Error(text);
              });
            }
            return response.json();
          })
          .then(data => {
            if (data.success) {
              plantBox.remove(); // Rimuovi l'elemento
            } else {
              alert(data.message || "Errore nella rimozione. Riprova.");
              button.style.pointerEvents = "auto";
            }
          })
          .catch(error => {
            console.error('Errore:', error);
            alert('Errore: ' + error.message);
            button.style.pointerEvents = "auto";
          });
        } else {
          console.error("Elemento non trovato.");
        }
      });
    });

    const reserveIncButtons = document.querySelectorAll(".btn-incdisp");
    reserveIncButtons.forEach(button => {
      button.addEventListener("click", function() {
        const nurseryId = button.getAttribute('data-nursery-id');
        const plantId = button.getAttribute('data-plant-id');
        const disponibilityElement = document.getElementById(`disp-${plantId}`);

        fetch('/incdisp', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
          },
          body: JSON.stringify({ plant_id: plantId, nursery_id: nurseryId })
        })
        .then(response => {
          if (!response.ok) {
            return response.text().then(text => {
              throw new Error(text);
            });
          }
          return response.json();
        })
        .then(data => {
          if (data.success) {
            if (disponibilityElement) {
              let currentDisponibility = parseInt(disponibilityElement.textContent, 10);
              disponibilityElement.textContent = currentDisponibility + 1;
            }
          } else {
            alert(data.message || "Errore nell'incremento. Riprova.");
          }
        })
        .catch(error => {
          console.error('Errore:', error);
          alert('Errore: ' + error.message);
        });
      });
    });

    const reserveDecButtons = document.querySelectorAll(".btn-decdisp");
    reserveDecButtons.forEach(button => {
      button.addEventListener("click", function() {
        const nurseryId = button.getAttribute('data-nursery-id');
        const plantId = button.getAttribute('data-plant-id');
        const disponibilityElement = document.getElementById(`disp-${plantId}`);

        fetch('/decdisp', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
          },
          body: JSON.stringify({ plant_id: plantId, nursery_id: nurseryId })
        })
        .then(response => {
          if (!response.ok) {
            return response.text().then(text => {
              throw new Error(text);
            });
          }
          return response.json();
        })
        .then(data => {
          if (data.success) {
            if (disponibilityElement) {
              let currentDisponibility = parseInt(disponibilityElement.textContent, 10);
              disponibilityElement.textContent = currentDisponibility - 1;
            }
          }
        })
        .catch(error => {
          console.error('Errore:', error);
          alert('Errore: ' + error.message);
        });
      });
    });

    document.getElementById("edit-profile-button").addEventListener("click", function() {
      document.getElementById("profile-view").style.display = "none";
      document.getElementById("profile-edit").style.display = "block";
    });

    function cancelEdit() {
      document.getElementById("profile-edit").style.display = "none";
      document.getElementById("profile-view").style.display = "block";
    }
  });
</script>

</body>
</html>
