<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgX5q9nH4yvlGDQapTpsKDmvBnL9JlHh4"></script>
<script async defer src="https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script async defer src="https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" type="text/javascript"></script><!-- -->
<style>
  #map {
    height: 500px; /* Altezza della mappa */
    width: 100%; /* Larghezza della mappa */
  }
</style>

<div class="nurseries">
  <div class="spacer-large"></div>

  <h1>Vivai</h1>

  <div id="map">

  
  <script type="text/javascript">
    // DOVRA CREARE DUE VETTORI UNO CON LE LONGITUDINI E UNO CON LE LATUTUDINI
    var nurseryNames = <%= raw @nurseries.map { |nursery| j(nursery.name) }.to_json %>;
    console.log(nurseryNames);
  </script>

  <!--poi faccio che per ogni vivaio inserisco un marker sulla mappa -->
    <script>
      function initMap() {
        var location1 = { lat: 41.80857849121094, lng: 12.676111221313477 };//frascati
        var location2 = { lat: 41.89684295654297, lng: 12.482213020324707 };//roma
        
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: location1
        });
        
        var marker = new google.maps.Marker({
          position: location1,
          map: map,
          title: 'Punto di Interesse'
        });

        var marker2 = new google.maps.Marker({
          position: location2,
          map: map,
          title: 'Punto di Interesse'
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgX5q9nH4yvlGDQapTpsKDmvBnL9JlHh4&callback=initMap&loading=async" type="text/javascript"></script>

  </div>

  <p class="search-instruction">Cerca i vivai per zona (comune) o per nome utilizzando la barra di ricerca sottostante.</p>

  <%= form_with url: nurseries_path, method: :get, local: true, class: 'search-form' do |form| %>
    <%= text_field_tag :query, params[:query], placeholder: 'Cerca...', class: 'search-bar' %>
    <%= form.submit "Search" %>
  <% end %>

  <% if params[:query].present? && @nurseries.empty? %>
    <p class="search-failure">Nessun vivaio presente con questo nome o in questa zona.</p>
    <%= link_to 'Torna alla lista completa dei vivai', nurseries_path, class: 'back-to-all' %>
  <% elsif params[:query].present? %>
    <div class="nurseries-container">
      <% @nurseries.each do |nursery| %>
        <div class="nursery-box">
          <%= link_to nursery_path(nursery) do %>
            <% image_number = [nursery.id, @max_id].min %>
            <%= image_tag "vivaio#{image_number}.jpg", alt: nursery.name %>
            <h3><%= nursery.name %></h3>
            <p><%= nursery.location %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= link_to 'Torna alla lista completa dei vivai', nurseries_path, class: 'back-to-all' %>
  <% else %>
    <div class="nurseries-container">
      <% @nurseries.each do |nursery| %>
        <div class="nursery-box">
          <%= link_to nursery_path(nursery) do %>
            <% image_number = [nursery.id, @max_id].min %>
            <%= image_tag "vivaio#{image_number}.jpg", alt: nursery.name %>
            <h3><%= nursery.name %></h3>
            <p><%= nursery.location %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
