<div class="nurseries">
  <div class="spacer-large"></div>

  <p class="nursery-title">Vivai</p>

  <p class="nursery-search-instruction">Cerca i vivai per zona (comune) o per nome utilizzando la barra di ricerca sottostante.</p>

  <%= form_with url: nurseries_path, method: :get, local: true, class: 'nursery-search-form' do |form| %>
    <%= text_field_tag :query, params[:query], placeholder: 'Cerca...', class: 'nursery-search-bar' %>
    <%= form.submit "Cerca" %>
  <% end %>

  <div id="map-container">
    <div id="map"></div>
  </div>
</div>

<% if params[:query].present? && @nurseries.empty? %>
  <p class="nursery-search-failure">Nessun vivaio presente con questo nome o in questa zona.</p>
  <%= link_to 'Torna alla lista completa dei vivai', nurseries_path, class: 'back-to-all' %>
<% elsif params[:query].present? %>
  <% else %>
  <div class="nurseries-container <%= 'single-item' if @nurseries.size == 1 %>">
    <% @nurseries.each do |nursery| %>
      <div class="nursery-box">
        <%= link_to nursery_path(nursery) do %>
          <% if nursery.nursery_image.attached? %>  <!-- Usa nursery invece di @nursery -->
            <%= image_tag nursery.nursery_image %> <!-- Usa nursery invece di @nursery -->
          <% else %>
            <%= nursery.name %>
          <% end %>
          <h3><%= nursery.name %></h3>
          <p><%= nursery.location %></p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>


<script type="text/javascript">
  var nurseryNames = <%= raw @nurseries.map { |nursery| ERB::Util.json_escape(nursery.name) }.to_json %>;
  var nurseryAddres = <%= raw @nurseries.map { |nursery| ERB::Util.json_escape(nursery.address) }.to_json %>;
  var nurseryID = <%= raw @nurseries.map { |nursery| j(nursery.id) }.to_json %>;

  function initMap() {
    geocoder = new google.maps.Geocoder();
    const address = "<%= raw @current_user&.address.to_s %>";
    geocodeAddress(address).then(location => {

      // Inizializza la mappa centrata sulla tua casa
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: location
      });

      //marker casa
      var marker = new google.maps.Marker({
        position: location,
        map: map,
        icon: {
          path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
          scale: 10,
          fillColor: '#0000FF',
          fillOpacity: 1,
          strokeWeight: 1,
          strokeColor: '#FFFFFF'
        }
      });

      //creazione marker sui vivai
      for (var i = 0; i < nurseryNames.length; i++) {
        createNurseryMarker(map,nurseryAddres[i],nurseryID[i],nurseryNames[i])
      }      
    });
  }

  function createNurseryMarker(map,address,id,name){
    geocodeAddress(address).then(nurslocation => {
      var marker = new google.maps.Marker({
        position: nurslocation,
        map: map,
        title: name
      });
      attachClickEvent(marker, name, id);
    })
  }
  /*var lastInfoWindow = null;
  function attachClickEvent(marker, nurseryName, nurseryID) {
    
    var imageUrl = "<%= asset_path('Edera.jpg') %>";
    var infowindowContent = '<div style="color: black; background-image:url(\'' + imageUrl + '\'); background-size: cover; background-position: center;">' +
                              '<a href="/nurseries/' + nurseryID + '">' + nurseryName + '</a>' +
                            '</div>';
    var infowindow = new google.maps.InfoWindow({
      content: infowindowContent
    });
    marker.addListener('click', function() {
      if (lastInfoWindow) lastInfoWindow.close();
      infowindow.open(marker.getMap(), marker);
      lastInfoWindow = infowindow;
    });
  }*/
 
  function attachClickEvent(marker, nurseryName, nurseryID) {
    marker.addListener('click', function() {
        const url = '/nurseries/' + nurseryID;
        window.location.href = url;
    });
  }

  async function geocodeAddress(address) {
    const url = `https://nominatim.openstreetmap.org/search?format=json&q=${encodeURIComponent(address)}`;
    
    try {
      const response = await fetch(url);
      const data = await response.json();
      if (data.length > 0) {
        const location = data[0];
        const latitude = location.lat;
        const longitude = location.lon;
        var MyLocation = { lat: parseFloat(latitude), lng: parseFloat(longitude) };
        //console.log(address);console.log(MyLocation);
        return MyLocation;
      } 
      console.log(address+" not found");
      return null;
    } catch (error) {
      console.error('Error fetching geocode data:', error);
      return null;
    }
  }
</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgX5q9nH4yvlGDQapTpsKDmvBnL9JlHh4&callback=initMap&loading=async" type="text/javascript"></script>

