<div class="nurseries">
  <div class="spacer-large"></div>

  <h1>Vivai</h1>

  <p class="search-instruction">Cerca i vivai per zona (comune) o per nome utilizzando la barra di ricerca sottostante.</p>

  <%= form_with url: nurseries_path, method: :get, local: true, class: 'search-form' do |form| %>
    <%= text_field_tag :query, params[:query], placeholder: 'Cerca...', class: 'search-bar' %>
    <%= form.submit "Search" %>
  <% end %>

  <% if params[:query].present? && @nurseries.empty? %>
    <p class="search-failure">Nessun vivaio presente con questo nome o in questa zona.</p>
    <%= link_to 'Torna alla lista completa dei vivai', nurseries_path, class: 'back-to-all' %>
  <% elsif params[:query].present? %>
    <div class="nurseries-container">
      <% @nurseries.each do |nursery| %>
        <div class="nursery-box">
          <%= link_to nursery_path(nursery) do %>
            <% image_number = [nursery.id, @max_id].min %>
            <%= image_tag "vivaio#{image_number}.jpg", alt: nursery.name %>
            <h3><%= nursery.name %></h3>
            <p><%= nursery.location %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= link_to 'Torna alla lista completa dei vivai', nurseries_path, class: 'back-to-all' %>
  <% else %>
    <div class="nurseries-container">
      <% @nurseries.each do |nursery| %>
        <div class="nursery-box">
          <%= link_to nursery_path(nursery) do %>
            <% image_number = [nursery.id, @max_id].min %>
            <%= image_tag "vivaio#{image_number}.jpg", alt: nursery.name %>
            <h3><%= nursery.name %></h3>
            <p><%= nursery.location %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
