<!DOCTYPE html>
<html>
<head>
  <title>PlantTracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <nav class="navbar-custom">
    <a class="navbar-brand" href="<%= root_path %>">
      <img src="<%= asset_path 'logo.jpeg' %>" alt="Logo">
    </a>
    <div class="navbar-nav nav-buttons"> 
      <div class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </div>
      <div class="nav-item">
        <%= link_to 'Piante', infoplants_path, class: 'nav-link' %>
      </div>
      <div class="nav-item">
        <%= link_to 'Vivai', nurseries_path, class: 'nav-link' %>
      </div>
      <% if session[:user_id] %>
        <div class="nav-item">
          <%= link_to 'Profilo', current_user.nursery ? nursery_profile_path : user_profile_path, class: 'nav-link' %>
        </div>
        <!--<div class="nav-item">
          <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link' %>
        </div>-->
      <% else %>
        <div class="nav-item">
          <%= link_to 'Login', login_path, class: 'nav-link' %>
        </div>
      <% end %>
    </div>
  </nav>
  <div class="container mt-4 content">
    <%= yield %>
  </div>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
