<!DOCTYPE html>
<html>
<head>
  <title>PlantTracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand" href="#">
        <img src="<%= asset_path 'logo2.jpeg' %>" alt="Logo">
    </a>
    
    <%= link_to root_path, class: 'nav-link' do %>
      <%= image_tag 'logo2.jpeg', alt: 'Home', style: 'width: 30px; height: auto;', class: 'nav-icon' %>
    <% end %>



    <div class="navbar-nav nav-buttons"> 
      <div class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </div>
      <div class="nav-item">
        <%= link_to 'Piante', infoplants_path, class: 'nav-link' %>
      </div>
      <div class="nav-item">
        <%= link_to 'Vivai', nurseries_path, class: 'nav-link' %>
      </div>
      <div class="nav-item">
        <%= link_to 'Login', '#', class: 'nav-link' %>
      </div>
    </div>
  </nav>
  <div class="container mt-4 content"> <!-- Aggiungi la classe content qui -->
    <%= yield %>
  </div>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
